.log{
    width: 100%;
    padding: 14px 22px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, .3);
    font-family: 'Poppins';
    font-size: 18px;
    color: black;
    background-color: #C2DD8D;
    border-radius: 1rem;

}

.reg{
    width: 100%;
    padding: 14px 22px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, .3);
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    background-color: #247855;
    border-radius: 1rem;

}
